# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual
venv/
.venv/
env/
.env/

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Outputs de Teste e Gráficos Gerados
*.png
*.dot
*.json
*.log
